include setup.py
recursive-include pathlib2 *.py
prune tests *.py
include *.rst
include VERSION
exclude requirements.txt
exclude .travis.yml
exclude appveyor.yml
exclude codecov.yml
prune appveyor
include Makefile
exclude tox.ini
