include *.py
recursive-include pathlib2 *.py
recursive-include tests *.py
include *.rst
include VERSION
include requirements.txt
include mypy.ini
include pytest.ini
exclude codecov.yml
exclude .pre-commit-config.yaml
prune appveyor
